{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<div class="container">

  <div class="container">
    <h4>
      Daily Assist
    </h4>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm">

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/homenews.jpg' %}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="">
                    <h5 class="card-title">
                      News
                    </h5>
                  </a>
                  <p class="card-text">
                    Never miss an update from around the world!
                  </p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">

                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="col-sm">

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/homeexpensetracker.jpeg' %}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">
                      <h5 class="card-title">
                        Expense Tracker
                      </h5>
                    </a>


                  </h5>
                  <p class="card-text">
                    Gain control over your cash flow!
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
  <hr>
  <div class="container">
    <h4>
      Home Assist - Internet Of Things
    </h4>
    <br>
    <div class="container">
      <div class="card bg-light">
        <img src="{% static 'images/homehomeassist.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">NeX Gen</h5>
          <p class="card-text">
            Your entire home on your figure tip!
          </p>
          <p class="card-text">

          </p>
        </div>
      </div>








    </div>



  </div>














</div>
{% endblock %}