{% extends 'pages/base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <br>
    <h4>Home Assist</h4>




    <div class="card mb-3">
        <img src='{% static "images/homeassistheaddisplay.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nex-Gen Home</h5>
            <p class="card-text">
                @catchy headline 

            </p>
        </div>
    </div>

    <br>
    <h5>Features</h5>
    <br>
    <div class="card-group">
        <div class="card">
          <img src='{% static "images/homeassistplug.jpg" %}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Control Power Plugs</h5>
            <p class="card-text">
                @catchyheadline
            </p>
          </div>
        </div>
        <div class="card">
                
          <img src='{% static "images/homeassistswitch.jpg" %}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Control Switches</h5>
            <p class="card-text">
                @catchy headline 
            </p>
          </div>
        </div>
        <div class="card">
                
          <img src='{% static "images/homeassistambientlighting.jpg" %}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Control Lighting</h5>
            <p class="card-text">
                @catchy headline 
            </p>
          </div>
        </div>
    </div>
    <hr>
</div>


{% endblock %}