{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>

{% if not error %}

<div class="container">

    <div class="row">

        <div class="col-sm-8">

            <div class="container">
                <h5>News</h5>
                <form action="{% url 'main:home' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">

                        <input type="text" name="search" class="form-control"
                            placeholder=" {% if query %} {{query.searched}} {% else %} Try : India Technology Samsung {% endif %}"
                            aria-label="search" aria-describedby="button-addon2" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="container">

                {% if query %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            {% if query.corrected %}
                            <div class="col-sm">
                                <a href="http://">Did You Mean : {{query.corrected}}?</a>

                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if query.country %}
                            <div class="col-sm">
                                Country : {{query.country}}
                            </div>
                            {% endif %}
                            {% if query.category %}
                            <div class="col-sm">
                                Category : {{query.category}}
                            </div>
                            {% endif %}
                            {% if query.q %}
                            <div class="col-sm">
                                Keywords :
                                {{query.q}}
                            </div>
                            {% endif %}


                        </div>


                    </div>
                </div>



                {% endif %}
                <br>
                {% if query %}
                <p class="text-muted">
                    {% if query.no_of_results != 0 %}
                    {{query.no_of_results}} results
                    {% else %}
                    No Results
                    {% endif %}
                </p>
                {% endif %}
                {% load filters %}
                {% for i in articles %}
                <div class="card mb-3">
                    <img src="{{ i.urlToImage}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{i.url}}">
                                {{ i.title}}
                            </a>
                        </h5>
                        <p class="card-text">{{i.description}}</p>
                        <p class="card-text"><small class="text-muted">{{i.publishedAt}}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-4">
            {% if location.city %}
            <div class="container">
                <h5>Weather</h5>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{location.city}}</h5>
                        <p class="card-text">
                            {{location.country}}
                        </p>
                    </div>
                </div>

            </div>
            <hr>

            {% endif %}
            {% if weather %}
            <div class="container">
                <h5>Weather</h5>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{weather.weather}}</h5>
                        <p class="card-text">
                            {{weather.description}}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{weather.temp}}</li>
                        <li class="list-group-item">{{weather.pressure}}</li>
                        <li class="list-group-item">{{weather.humidity}}</li>
                    </ul>
                </div>

            </div>
            <hr>

            {% endif %}
            <div class="container">
                <h5>Trending</h5>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/homehomeassist2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Home Assist</h5>
                        <p class="card-text">
                            Control your house through web app!
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Switches & Plugs</li>
                        <li class="list-group-item">Plant Watering</li>
                        <li class="list-group-item">Security</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'home:homepage' %}" class="card-link">Learn More...</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    {{error}}
</div>
{%endif %}
{% endblock %}